*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* border: 2px solid blue; */
    background-color: #F0DE36;
    
}

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
}

.top-section,
.third-section{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}

/* .top-section{
    padding-top: 8px;
}

.third-section{
    padding-bottom: 8px;
} */

.top-section img,
.third-section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.img1 img,
.img2 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.second-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text{
    padding: 30px 0;
}

p{
    text-align: center;
    font-family: 'VT323', monospace;
}


.bigger{
    font-size: 80px;
    letter-spacing: 7px;
    margin-bottom: 20px;
    color: red;
    /* border: 2px solid red; */
}

.smaller{
    /* border: 2px solid red; */
    font-size: 25px;
    letter-spacing: 7px;
    color: blue;
    font-weight: 600;
}



@media only screen and (max-width: 909px){
    .bigger{
        font-size: 40px;
    }

    .smaller{
        font-size: 16px;
    }
}


@media only screen and (max-width: 755px){
    .img1 img,
    .img2 img{
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 477px){
    .img1 img,
    .img2 img{
        display: none;
    }

    .top-section img,
    .third-section img {
        width: 100px;
        height: 100px;
    }

    .top-section,
    .third-section{
        justify-content: space-around;
    }
}

